.btn {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  padding: 10px 30px;
  border-radius: 4px;

  &--purple {
    background: $purple;
    color: $white;

    &:hover {
      background: rgb(178, 148, 235);
    }
  }

  &--white {
    background: $white;

    &:hover {
      background: none;
      color: $white;
      border: 1px solid $white;
    }
  }

  &--transparent {
    border: 1px solid $white;
    color: $white;
    border-radius: 4px;
    margin-left: 20px;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  &--register {
    text-align: center; 
    text-decoration: none;
    color: $purple;
    padding-bottom: 5px;

    &:hover {
      color: rgb(178, 148, 235);
    }
  }

  &--signup {
    margin-left: auto;
  }

  &--long {
    margin-top: 20px;
    display: block;
  }

  &--right {
    float: right;
    @media only screen and (max-width: 900px) {
      float: none;
      display: inline-block;
      margin-top: 20px;
    }
  }

  &--bottom {
    position: absolute;
    bottom: 20px;
    @media only screen and (max-width: 600px) {
      position: relative;
      display: block;
      margin: 20px auto 0 auto;
      width: 125px;
      bottom: 0;
    }
  }
        
}

