.cta {
  min-height: 92px;
  padding: 30px 20px;
  margin: 20px 0;
  position: relative;
  background: $white;

  &__top-border {
    position: absolute;
    left: 0;
    top: 0;
    background: $linear;
    width: 100%;
    height: 8px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    display: inline-block;
    color: $grey;
  }
}