/* Desktop Styles */
@media only screen and (min-width: 901px) {
  body {
    background: $white-smoke;
  }

  .nav__toggle, .nav__toggle-label {
    display: none;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: auto;
    grid-column-gap: 40px;
  }

  .content-sidebar-grid {
    display: grid;
    grid-template-columns: 67% 31%;
    align-items: start;
    grid-column-gap: 20px;
  }
  
  .content-grid {
    display: grid;
    grid-template-areas:
      'time time'
      'title title'
      'subtitle subtitle'
      'text-a text-a'
      'text-b text-c'
      'quote quote'
      'text-d text-d';
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

}