@media only screen and (max-width: 900px) {
  .container {
    padding: 0 25px;
  }
  
  .nav-container {
    width: 100%;
  }

  .nav {
    flex-direction: row-reverse;
    position: relative;
    padding: 0 25px;

    .btn--signup {
      float: right;
    }

    &__brand {
      display: none;
    }

    &__list {
      background: rgba(255, 255, 255, .9);
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 400ms ease-in-out;
      
      &-item {
        display: block;
        height: auto;
        padding: 0 25px;
        margin: 0;
        line-height: 40px;

        &:hover {
          cursor: pointer;
          background: $lpurple;
          
          > .nav__link {
            color: $white;
          }
        }

        &--about {
          background: rgba(255, 255, 255, 0);
        }
      }
    }

    &__link {
      opacity: 0;
      transition: opacity 150ms ease-in-out;

      .product-list {
        display: none;
      }
    }

    &__toggle {
      display: none;

      &:checked ~ .nav__list {
        transform: scale(1, 1);
      }

      &:checked ~ .nav__list .nav__link {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }
    }
    
    &__toggle-label {
      .hamburger {
        display: block;
        background: $purple;
        border-radius: 2px;
        margin: 5px 0;
        width: 40px;
        height: 5px;
      }
    }

    &__toggle-label:hover {
      cursor: pointer;
    }

    &__toggle-label:hover > .hamburger {
      background: $lpurple;
    }

  }
}