@import "./partials/variables";
@import "./partials/header";
@import "./partials/buttons"; 
@import "./partials/after-header"; 
@import "./partials/content";
@import "./partials/sidebar";
@import "./partials/cta";
@import "./partials/pre-footer";
@import "./partials/footer";
@import "./partials/checkbox";
@import "./views/desktop"; 
@import "./views/tablet"; 
@import "./views/mobile"; 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open-sans", sans-serif;
}

.section-border {
  background: $white;
  border-radius: 4px;
  box-shadow: 1px 1px 0px 0px $border;
}